@use "mixins";
@use "variables" as var;


html {
    font-family: "Times New Roman", Times, serif;
    scroll-behavior: smooth;
    
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {   
    @include mixins.wrapper;
    
    
}


.upper {
  display:flex;
  justify-content: flex-end;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 3em;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 768px) {
  .menu-button-container {
    display: flex;
  }
  .upper {
      background-color: rgba(0, 0, 0, 0.00);
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 3em;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.09);
    font-family: 'Times New Roman', Times, serif;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  #menu-toggle:checked ~ .menu li {
    height: 0.4em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;

   width: 100%;
    color: white;
  }
}
.firstscreen {
  @include mixins.nature(var.$primary);
  font-size: 1.5em;
}

.upper {
  background-color: rgba(255, 255, 255, 0.09);
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;  
  color: #FFF;
  height: 3em;
  padding: 1em;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 3em;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var.$primary;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 768px) {
  .menu-button-container {
    display: flex;
  }

  .upper {
      background-color: rgba(0, 0, 0, 0.00);
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 3em;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.09);
    font-family: 'Times New Roman', Times, serif;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  #menu-toggle:checked ~ .menu li {
    height: 0.4em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: var.$primary;;
  }
}


.firstscreen {
    @include mixins.nature(var.$primary);
    font-size: 1.5em;
}


.arrow-down {
    @include mixins.arrow-down(var.$primary);
    margin-top: 20vh;
    justify-self: flex-end;
    
    
}
    
.scndscreen {
    @include mixins.sec;
    background-color: var.$primary;
    color: var.$secondary;

    .arrow-down {
        @include mixins.arrow-down(var.$secondary);
        padding: 3em;
        margin: 0; 
        font-size: 1.5em;      
          
        }
        
}

.team {
    .person {
      @include mixins.box;
      
      flex-direction: column;
      

      h4 {
        font-size: 1em;
      }

      img {
        width: 50%;
        border-radius: 50%;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.345);
      }

      .quote {
        @include mixins.box;
        align-items: baseline;
        height: 100px;
        width: 300px;
        background-color: rgb(194, 190, 190);
        border-radius: 5px;

        .bi-quote {
          font-size: 3em;
          transform: rotate(180deg);
        }
      }
    }

   
}

footer {
    @include mixins.box;
    background-color: var.$secondary;
    color: var.$primary;
    flex-direction: column;
    text-align: left;
  
    .social {
      transform: translateX(-40px);
    }
}

@media screen and (min-width: 768px) {
    .scndscreen {
        .team {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          .person {
            width: 50%;
          }
        }
      }
    
      footer {
        flex-direction: row;
        justify-content: space-around;
    
        .middle {
          transform: translateY(-20px);
        }
      }
    }